
## SQL exercises

In this lecture we'll practice performing SQL queries using the Python SQLite module and the `flights` database:

In [ ]:
import sqlite3
con = sqlite3.connect("flights.sqlite")
cur = con.cursor()

# Get the list of tables
cur.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables = cur.fetchall()
# For each table, get its schema
for table in tables:
    table_name = table[0]
    print(f"\nTable: {table_name}")
    cur.execute(f"PRAGMA table_info({table_name});")
    columns = cur.fetchall()
    for col in columns:
        print(f"  {col[1]} ({col[2]})")

In [ ]:
import pandas as pd
# Visualize the tables using pandas
# 1. Airlines table (carrier codes and full names)
airlines_query = "SELECT * FROM airlines"
airlines_df = pd.read_sql_query(airlines_query, con)
print("AIRLINES TABLE:")
print(airlines_df)
print("\n" + "="*50 + "\n")

# 2. Airports table (airport information)
airports_query = "SELECT * FROM airports"
airports_df = pd.read_sql_query(airports_query, con)
print("AIRPORTS TABLE:")
print(airports_df)
print("\n" + "="*50 + "\n")

# 3. Sample of flights table (it's usually too large to show all)
flights_query = """
SELECT 
    year, month, day,
    carrier, flight,
    origin, dest,
    dep_time, arr_time,
    dep_delay, arr_delay
FROM flights 
LIMIT 5
"""
flights_df = pd.read_sql_query(flights_query, con)
print("FLIGHTS TABLE (Sample):")
print(flights_df)
print("\n" + "="*50 + "\n")

# 4. Sample of weather table
weather_query = """
SELECT 
    origin, year, month, day, hour,
    temp, wind_speed, wind_dir, precip, visib
FROM weather 
LIMIT 5
"""
weather_df = pd.read_sql_query(weather_query, con)
print("WEATHER TABLE (Sample):")
print(weather_df)

### The `cursor` object
The cursor object is used to perform queries and fetch results. `cur.execute(query)` will execute `query` and return a results object:

### Fetching results
To retrieve results, use the `cur.fetchone()` or `cur.fetchall()` methods:

In [ ]:
cur.fetchone()

This returns a tuple containing one entry for each column in our `SELECT` statement.

If you want all the rows, use `cur.fetchall()`:

### Parameterized queries

Sometimes our queries must depend on user input. Consider the following query which returns all the flights that happened in a certain month:

In [ ]:
def num_flights_in_month(month):
    # query = f"str"
    # YOUR CODE HERE
    return cur.execute(query).fetchone()[0]
    
num_flights_in_month(12)

For queries that depend on a parameter, we can use the special placeholder `?` to have the database do parameter substitution for us:

In [ ]:
def num_flights_on_day(m, d):
    # query = f"str"
    # YOUR CODE HERE
    return result[0]

num_flights_on_day(12, 25)

## Some questions about `flights`

Now we will use SQL queries to various questions about the `flights` dataset.

### Which airport is the busiest?
We need to aggregate `flights` by the `origin` column, and they count the number of rows in each group.

In [ ]:
# YOUR CODE HERE

In [ ]:
# YOUR CODE HERE

### Which month was coldest?
We need to aggregate `weather` by `month`, and the compute some measure of coldness.

In [ ]:
# YOUR CODE HERE

### What is the most popular carrier at each of the three NYC airports?
This one is a bit trickier. We start by counting the number of flights for each combination of `carrier` and `origin`:

In [ ]:
# YOUR CODE HERE

This got us all the records. But we want only the only the most popular carrier for each airport