
## SQL exercises

In this lecture we'll practice performing SQL queries using the Python SQLite module and the `flights` database:

In [2]:
import sqlite3
con = sqlite3.connect("flights.sqlite")
cur = con.cursor()

# Get the list of tables
cur.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables = cur.fetchall()
# For each table, get its schema
for table in tables:
    table_name = table[0]
    print(f"\nTable: {table_name}")
    cur.execute(f"PRAGMA table_info({table_name});")
    columns = cur.fetchall()
    for col in columns:
        print(f"  {col[1]} ({col[2]})")

Table: flights
  year (INTEGER)
  month (INTEGER)
  day (INTEGER)
  dep_time (INTEGER)
  sched_dep_time (INTEGER)
  dep_delay (REAL)
  arr_time (INTEGER)
  sched_arr_time (INTEGER)
  arr_delay (REAL)
  carrier (TEXT)
  flight (INTEGER)
  tailnum (TEXT)
  origin (TEXT)
  dest (TEXT)
  air_time (REAL)
  distance (REAL)
  hour (REAL)
  minute (REAL)
  time_hour (REAL)

Table: airports
  faa (TEXT)
  name (TEXT)
  lat (REAL)
  lon (REAL)
  alt (REAL)
  tz (REAL)
  dst (TEXT)
  tzone (TEXT)

Table: weather
  origin (TEXT)
  year (INTEGER)
  month (INTEGER)
  day (INTEGER)
  hour (INTEGER)
  temp (REAL)
  dewp (REAL)
  humid (REAL)
  wind_dir (REAL)
  wind_speed (REAL)
  wind_gust (REAL)
  precip (REAL)
  pressure (REAL)
  visib (REAL)
  time_hour (REAL)

Table: airlines
  carrier (TEXT)
  name (TEXT)

In [4]:
import pandas as pd
# Visualize the tables using pandas
# 1. Airlines table (carrier codes and full names)
airlines_query = "SELECT * FROM airlines"
airlines_df = pd.read_sql_query(airlines_query, con)
print("AIRLINES TABLE:")
print(airlines_df)
print("\n" + "="*50 + "\n")

# 2. Airports table (airport information)
airports_query = "SELECT * FROM airports"
airports_df = pd.read_sql_query(airports_query, con)
print("AIRPORTS TABLE:")
print(airports_df)
print("\n" + "="*50 + "\n")

# 3. Sample of flights table (it's usually too large to show all)
flights_query = """
SELECT 
    year, month, day,
    carrier, flight,
    origin, dest,
    dep_time, arr_time,
    dep_delay, arr_delay
FROM flights 
LIMIT 5
"""
flights_df = pd.read_sql_query(flights_query, con)
print("FLIGHTS TABLE (Sample):")
print(flights_df)
print("\n" + "="*50 + "\n")

# 4. Sample of weather table
weather_query = """
SELECT 
    origin, year, month, day, hour,
    temp, wind_speed, wind_dir, precip, visib
FROM weather 
LIMIT 5
"""
weather_df = pd.read_sql_query(weather_query, con)
print("WEATHER TABLE (Sample):")
print(weather_df)

AIRLINES TABLE:
   carrier                         name
0       9E            Endeavor Air Inc.
1       AA       American Airlines Inc.
2       AS         Alaska Airlines Inc.
3       B6              JetBlue Airways
4       DL         Delta Air Lines Inc.
5       EV     ExpressJet Airlines Inc.
6       F9       Frontier Airlines Inc.
7       FL  AirTran Airways Corporation
8       HA       Hawaiian Airlines Inc.
9       MQ                    Envoy Air
10      OO        SkyWest Airlines Inc.
11      UA        United Air Lines Inc.
12      US              US Airways Inc.
13      VX               Virgin America
14      WN       Southwest Airlines Co.
15      YV           Mesa Airlines Inc.

==================================================

AIRPORTS TABLE:
      faa                           name        lat         lon     alt   tz  \
0     04G              Lansdowne Airport  41.130472  -80.619583  1044.0 -5.0
1     06A  Moton Field Municipal Airport  32.460572  -85.680028   264.0 -6.0
2     06C            Schaumburg Regional  41.989341  -88.101243   801.0 -6.0
3     06N                Randall Airport  41.431912  -74.391561   523.0 -5.0
4     09J          Jekyll Island Airport  31.074472  -81.427778    11.0 -5.0
...   ...                            ...        ...         ...     ...  ...
1453  ZUN                     Black Rock  35.083228 -108.791778  6454.0 -7.0
1454  ZVE         New Haven Rail Station  41.298669  -72.925992     7.0 -5.0
1455  ZWI      Wilmington Amtrak Station  39.736667  -75.551667     0.0 -5.0
1456  ZWU       Washington Union Station  38.897460  -77.006430    76.0 -5.0
1457  ZYP                   Penn Station  40.750500  -73.993500    35.0 -5.0

     dst             tzone
0      A  America/New_York
1      A   America/Chicago
2      A   America/Chicago
3      A  America/New_York
4      A  America/New_York
...   ..               ...
1453   A    America/Denver
1454   A  America/New_York
1455   A  America/New_York
1456   A  America/New_York
1457   A  America/New_York

[1458 rows x 8 columns]

==================================================

FLIGHTS TABLE (Sample):
   year  month  day carrier  flight origin dest  dep_time  arr_time  \
0  2013      1    1      UA    1545    EWR  IAH       517       830
1  2013      1    1      UA    1714    LGA  IAH       533       850
2  2013      1    1      AA    1141    JFK  MIA       542       923
3  2013      1    1      B6     725    JFK  BQN       544      1004
4  2013      1    1      DL     461    LGA  ATL       554       812

   dep_delay  arr_delay
0        2.0       11.0
1        4.0       20.0
2        2.0       33.0
3       -1.0      -18.0
4       -6.0      -25.0

==================================================

WEATHER TABLE (Sample):
  origin  year  month  day  hour   temp  wind_speed  wind_dir  precip  visib
0    EWR  2013      1    1     1  39.02    10.35702     270.0     0.0   10.0
1    EWR  2013      1    1     2  39.02     8.05546     250.0     0.0   10.0
2    EWR  2013      1    1     3  39.02    11.50780     240.0     0.0   10.0
3    EWR  2013      1    1     4  39.92    12.65858     250.0     0.0   10.0
4    EWR  2013      1    1     5  39.02    12.65858     260.0     0.0   10.0

### The `cursor` object
The cursor object is used to perform queries and fetch results. `cur.execute(query)` will execute `query` and return a results object:

### Fetching results
To retrieve results, use the `cur.fetchone()` or `cur.fetchall()` methods:

In [12]:
cur.fetchone()

This returns a tuple containing one entry for each column in our `SELECT` statement.

If you want all the rows, use `cur.fetchall()`:

### Parameterized queries

Sometimes our queries must depend on user input. Consider the following query which returns all the flights that happened in a certain month:

In [16]:
def num_flights_in_month(month):
    # query = f"str"
    # YOUR CODE 
    query = f"SELECT COUNT() FROM flights WHERE month = {month}"
    return cur.execute(query).fetchone()[0]
    
num_flights_in_month(12)

28135

In [22]:
query = """
SELECT
    month,
    COUNT() as flight_count
FROM flights
GROUP BY month
ORDER BY month
"""
cur.execute(query).fetchall()

[(1, 27004),
 (2, 24951),
 (3, 28834),
 (4, 28330),
 (5, 28796),
 (6, 28243),
 (7, 29425),
 (8, 29327),
 (9, 27574),
 (10, 28889),
 (11, 27268),
 (12, 28135)]

For queries that depend on a parameter, we can use the special placeholder `?` to have the database do parameter substitution for us:

In [18]:
def num_flights_on_day(m, d):
    # query = f"str"
    # YOUR CODE HERE

    return result[0]

num_flights_on_day(12, 25)

IndentationError: unexpected indent (2243708671.py, line 6)

## Some questions about `flights`

Now we will use SQL queries to various questions about the `flights` dataset.

### Which airport is the busiest?
We need to aggregate `flights` by the `origin` column, and they count the number of rows in each group.

In [ ]:
# YOUR CODE HERE

In [ ]:
# YOUR CODE HERE

### Which month was coldest?
We need to aggregate `weather` by `month`, and the compute some measure of coldness.

In [ ]:
# YOUR CODE HERE

### What is the most popular carrier at each of the three NYC airports?
This one is a bit trickier. We start by counting the number of flights for each combination of `carrier` and `origin`:

In [ ]:
# YOUR CODE HERE

This got us all the records. But we want only the only the most popular carrier for each airport